<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyMMdd HH:mm:ss} [%-5level] %c{1}:%m%n" /> 
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ru.isalnikov.offsidegaming" level="INFO" additivity="false"/>
        
        <Root level="INFO">
            <AppenderRef ref="LogToConsole" />
        </Root>
    </Loggers>
</Configuration>